* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: #5FB707;
    color: #fff;
}


/* Header */
.header {
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 20;
}

.header.active {
    box-shadow: -20px -30px 50px #000; 
    backdrop-filter: blur(10px); 
}

.header .header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px!important;
    margin: 0 auto;
    padding: 15px 0;
}

.header .search {
    display: flex;
    align-items: center;
    margin-left: 250px;
}
.header .search i {
    color: #5FB707;
    font-size: 22px;
    padding-right: 15px;
}

.header .search input {
    position: relative;
    padding: 5px 20px;
    width: 200px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(114, 112, 112); 
    background: none;
}

.header .search input::placeholder {
    color: rgb(133, 130, 130);
}

.header .contacts {
    display: flex;
    align-items: center;
    margin-left: 250px;
}
.header .contacts a {
    font-size: 25px;
    color: #5FB707;
    font-family: serif;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.header .contacts a img {
    padding-right: 8px;
    width: 40px;
    color: #5FB707;
}

.header .btn {
    margin-left: 30px;
    padding: 5px 30px;
    color: #fff;
    background-color: #5FB707;
    border-radius: 15px;
    font-weight: 600;
    font-family: 'DinPro-Regular';
    border: none;
}

/* Container */
.container {
    width: 100%;
    max-width: 1000px!important;
    margin: 0 auto;
    margin-top: 250px;
    margin-bottom: 250px; 
}

.container .leftarrow, .container .center, .container .rightarrow {
    position: relative;
    z-index: 10;
}

.container .leftarrow .res {
    position: absolute;
    top: 60px;
    left: 100px;
}

.container .leftarrow .flow  {
    position: absolute;
    top: 282px;
    left: 100px;
}
.container .center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container .center .present {
    position: absolute;
    top: 455px;
    left: 290px;
}

.container .center .shashlik {
    position: absolute;
    top: 455px;
    left: 580px;
}

.container .center .bee_img {
    position: absolute;
    top: 50px;
}

.container .center .bee_img img {
    width: 170px;
}
.container .center .top {
    position: absolute;
    top: -55px;
    left: 275px;
}

.container .rightarrow .shop {
    position: absolute;
    top: -394px;
    right: 117px;
}

.container .rightarrow .courier {
    position: absolute;
    top: -172px;
    right: 118px;
}

.container .leftarrow .res img, .container .leftarrow .flow img {
    filter: grayscale();
}

.container .center .line {
    margin-top: 85px;
}

.container .leftarrow .res img:hover {
    box-shadow: 1px 1px 30px -5px #ccc;
    background-color: #fff;
}

.container .res, .container .flow, .container .shop, .container .courier, .container .present, .container .shashlik {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.container .res img, .container .flow img, .container .shop img, .container .courier img, .container .present img, .container .shashlik img  {
    cursor: pointer;
    background: #f5f5f5;
    border-radius: 50%;
    width: 110px;
    padding: 25px;
    transition: .2s ease;
}

.container .res img:hover, .container .flow img:hover, .container .shop img:hover, .container .courier img:hover, .container .present img:hover, .container .shashlik img:hover   {
    box-shadow: 1px 1px 30px -5px #ccc;
    background-color: #fff;
}

.container .res .res-text a, .container .flow .flow-text a, .container .shop .shop-text a, .container .present .present-text a, .container .courier .courier-text a, .container .shashlik .shashlik-text a {
    color: #000;
    transition: all .2s ease;
    text-decoration: none;
}

.container .shop .shop-text a:hover, .container .present .present-text a:hover, .container .courier .courier-text a:hover, .container .shashlik .shashlik-text a:hover {
    color: #5FB707;
    text-decoration: none;
}


/* Wrapper Products */

.wrapper {
    width: 100%;
    padding-top: 30px;
    background-color: #f0f0f0;
    position: relative;
}

.wrapper_title {
    font-weight: 600;
}

.wrapper_title, .wrapper_suptitle {
    text-align: center;
}
.wrapper_item {
    max-width: 1200px!important;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.wrapper_item .products {
    background-color: #FCFBF9;
    border-radius: 20px;
    width: 350px;
    margin: 20px;
    transition: all .5s ease;
    cursor: pointer;
}

.wrapper_item .products:hover {
    box-shadow: 5px 5px 60px -5px #ccc;
    background-color: #fff;
    transform: translateY(-5px);
}

.wrapper_item .products .img img {
    z-index: 2;
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}

.wrapper_item .products_text {
    width: 350px;
    border-radius: 20px;
}

.wrapper_item .products_text p {
    text-align: center;
    color: rgb(175, 175, 175);
    padding-top: 5px;
}

.wrapper_item .products_text .products_partner {
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.wrapper_item .products_text .products_partner h3 {
    padding-left: 30px;
}


/* Yest AppStore and PlayMarket */

.yest_programm {
    position: relative;
    margin-top: 50px;
    padding: 70px 0;
    display: flex;
    align-items: center;
    padding-left: 500px;
    background: linear-gradient(
        90deg, rgba(95,183,9,1) 0%, rgba(95,183,9,1) 46%, rgba(190,232,149,1) 80%, rgba(190,232,149,1) 100%)
}
.yest_programm .playstore_title {
    font-size: 40px;
    font-weight: 600;
}

.yest_programm .playstore_text {
    margin-left: 90px;
    margin-bottom: 30px;
}

.yest_programm .playstore_title, .yest_programm .playstore_text {
    color: #fff;
}

.yest_programm .playstore_img {
    display: flex;
    margin-left: 80px;
}

.yest_programm .playstore_img .prog_icons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.yest_programm .playstore_img .prog_icons a {
    margin: 10px;
}

.yest_programm .bee_tel {
    position: absolute;
    right: 500px;
}

/* Carousel */
#carousel {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
    padding: 60px 0 0 65px;
}

#carousel .item img {
    width: 150px;

}


/* Footer */
.footer {
    margin-top: 100px;
    width: 100%;
    height: 350px;
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_wrapper {
    padding-top: 50px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.footer_wrapper .gray {
    color: #a2a2a3;
}

.footer_wrapper .footer_courier, .footer_wrapper .footer_company, .footer_wrapper .footer_benefits {
    display: flex;
    flex-direction: column;
}

.footer_wrapper .footer_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_wrapper .footer_top .footer_info a {
    text-decoration: none;
    color: #5FB707;
    font-size: 35px;
    line-height: 80px;
}

.footer_wrapper .footer_top .footer_info p {
    width: 300px;
    line-height: 25px;
}
.footer_wrapper .footer_top .footer_courier h4, .footer_wrapper .footer_top .footer_company h4, .footer_wrapper .footer_top .footer_benefits h4 {
    font-weight: 500;
    font-size: 20px;
    color: #000;
    line-height: 40px;
}
.footer_wrapper .footer_top .footer_courier a, .footer_wrapper .footer_top .footer_company a, .footer_wrapper .footer_top .footer_benefits a {
    margin-bottom: 15px;
    text-decoration: none;
    transition: all .3s ease;
}
.footer_wrapper .footer_top .footer_courier a:hover, .footer_wrapper .footer_top .footer_company a:hover, .footer_wrapper .footer_top .footer_benefits a:hover {
    color: #5FB707;
}
.footer_wrapper .footer_bottom {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_wrapper .footer_bottom .social_icons a i {
    margin-right: 15px;
    font-size: 25px;
    color: #a2a2a3;
    transition: all .3s ease;
}

.footer_wrapper .footer_bottom .social_icons a i:hover {
    color: #5FB707;
}


/* toTop */

.Top_icon {
    cursor: pointer;
    position: fixed;
    z-index: 6;
    bottom: 40px;
    right: 15px;
    transform: translateX(80px);
    transition: all .5s ease;
}

.Top_icon.active {
    transform: translateX(0px);
    bottom: 40px;
    right: 15px;
}
